# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.env

# Data files
/data/
/bronze/
/silver/
/gold/

# Spark
derby.log
metastore_db/
spark-warehouse/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

#Files not required
refer.txt
reference_kaggle.txt
